@charset "UTF-8";

/* ==================================================
■ 目次
    link
    display
    RWD layout settings
    layout
    col_set
    width
    margin
    padding
    text
    list
    table_style
    個別の設定

■ ブレークポイント
    【sp】
        @media print, screen and (max-width: 639px) {}
    【sp + tab】
        @media print, screen and (max-width: 1023px) {}
    【tab】
        @media only screen and (min-width: 640px) and (max-width: 1023px) {}
    【tab + pc】
        @media only screen and (min-width: 640px) {}
    【pc】
        @media only screen and (min-width: 1024px) {}

================================================== */


/* ==================================================
    link
================================================== */

    /* text-decoration
    -------------------------------------------------- */
        .tds { text-decoration: line-through;}
        .tdn {text-decoration: none !important; }
        .tdn:hover { text-decoration: underline;}

    /* rwd
    -------------------------------------------------- */
        @media only screen and (min-width: 640px) {
          .a_tel {
            color: #555;
            text-decoration: none !important;
            pointer-events: none;
          }
        }

    /* hover
    -------------------------------------------------- */
        .hov { transition: all 0.3s ease;}
        .hov:hover { opacity: 0.6;}

        @media print, screen and (max-width: 1023px) {
            .hov:hover { opacity: 1;}
        }


/* ==================================================
    display
================================================== */

    /* disp
    -------------------------------------------------- */
        .db {display: block; }
        .dib {display: inline-block; }
        .dt {display: table; }
        .di {display: inline; }
        .dn {display: none; }


        @media print, screen and (max-width: 639px) {
          .db_sp {display: block; }
          .dib_sp {display: inline-block; }
          .dt_sp {display: table; }
          .di_sp {display: inline; }
          .dn_sp {display: none; }
        }


/* ==================================================
    RWD layout settings
================================================== */
    .rw_xxo,
    .rw_xoo,
    .rw_xxo_ib,
    .rw_xoo_ib,
    .rw_xxo_f,
    .rw_xoo_f,
    .rw_xxo_if,
    .rw_xoo_if,
    .rw_xox,
    .rw_oox,
    .rw_xox_ib,
    .rw_oox_ib,
    .rw_xox_f,
    .rw_oox_f,
    .rw_xox_if,
    .rw_oox_if,
    .rw_oxx,
    .rw_oxo,
    .rw_oxx_ib,
    .rw_oxo_ib,
    .rw_oxx_f,
    .rw_oxo_f,
    .rw_oxx_if,
    .rw_oxo_if { display: none !important;}

    /* SP
    -------------------------------------------------- */
        @media only screen and (max-width: 639px) {
          .rw_xxo { display: block !important;}
          .rw_xxo_ib { display: inline-block!important;}
          .rw_xxo_f { display: flex!important;}
          .rw_xxo_if { display: inline-flex!important;}
        }

    /* TB
    -------------------------------------------------- */
        @media only screen and (min-width: 640px) and (max-width: 1023px) {
          .rw_xox { display: block !important;}
          .rw_xox_ib { display: inline-block!important;}
          .rw_xox_f { display: flex!important;}
          .rw_xox_if { display: inline-flex!important;}
        }

    /* PC
    -------------------------------------------------- */
        @media print, screen and (min-width: 1024px) {
          .rw_oxx { display: block !important;}
          .rw_oxx_ib { display: inline-block!important;}
          .rw_oxx_f { display: flex!important;}
          .rw_oxx_if { display: inline-flex!important;}
        }

    /* PC・TABのみ表示
    -------------------------------------------------- */
        .rw_oox { display: block !important;}
        .rw_oox_ib { display: inline-block!important;}
        .rw_oox_f { display: flex!important;}
        .rw_oox_if { display: inline-flex!important;}

        @media only screen and (max-width: 639px) {
          .rw_oox,
          .rw_oox_ib,
          .rw_oox_f,
          .rw_oox_if { display: none !important;}
        }

    /* PC・SPのみ表示
    -------------------------------------------------- */
        .rw_oxo { display: block !important;}
        .rw_oxo_ib { display: inline-block!important;}
        .rw_oxo_f { display: flex!important;}
        .rw_oxo_if { display: inline-flex!important;}

        @media only screen and (min-width: 640px) and (max-width: 1023px) {
          .rw_oxo,.rw_oxo_ib,.rw_oxo_f,.rw_oxo_if { display: none !important;}
        }

    /* TAB・SPのみ表示
    -------------------------------------------------- */
        .rw_xoo { display: block !important;}
        .rw_xoo_ib { display: inline-block!important;}
        .rw_xoo_f { display: flex!important;}
        .rw_xoo_if { display: inline-flex!important;}

        @media print, screen and (min-width: 1024px) {
          .rw_xoo,.rw_xoo_ib,.rw_xoo_f,.rw_xoo_if { display: none !important;}
        }

    /* SPのみ非表示
    -------------------------------------------------- */
        @media only screen and (max-width: 639px) {
            .sp_none { display: none !important;}
        }

    /* 印刷時のみ非表示
    -------------------------------------------------- */
        @media print {
            .print_none { display: none !important;}
        }


/* ==================================================
    layout
================================================== */

    /* float
    -------------------------------------------------- */
        .flr { float: right;}
        .fll { float: left;}

    /* clearfix
    -------------------------------------------------- */
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }

    /* overflow
    -------------------------------------------------- */
        .ofh { overflow: hidden;}

    /* .colum
    --------------------------------------------*/
        .colum {
            border: 1px solid #2abd70;
        }
        .colum dt {
            background: -webkit-linear-gradient(left, #009246, #2abd70);
            background: -moz-linear-gradient(left, #009246, #2abd70);
            background: -o-linear-gradient(left, #009246, #2abd70);
            background: -ms-linear-gradient(left, #009246, #2abd70);
            color: #fff;
            font-size: 2.2rem;
            font-weight: bold;
            line-height: 1.2;
            padding: 10px 20px 8px;
        }
        .colum dd {
            padding: 20px 20px 30px;
        }
            .colum dd p {
                margin-top: 10px;
            }
                .colum dd p:first-child {
                    margin-top: 0;
                }

        @media print, screen and (max-width: 639px) {
            .colum dt {
                font-size: 2.0rem;
                padding: 10px 2%;
            }

            .colum dd,
            .u_page .colum dd{
                padding: 20px 2% 30px;
            }
        }


    /* .colum.index
    --------------------------------------------*/
        .colum.index {
            background: url(../images/common_img/index_bg.gif) ;
        }
        .colum.index dt {
            background: none;
            color: #8e8e8e;
            font-size: 2.0rem;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 0;
        }
        .colum.index dd {
            background: none;
            padding-top: 0;
        }
        .colum.index dd li {
            margin-top: 3px;
        }
            .colum.index dd li a {
                font-size: 1.3rem;
            }
        .colum.index dd .li_big {
            margin-top: 20px;
        }
        .colum.index dd .li_mid {
            margin-left: 10px;
        }


    /* .layout01
    --------------------------------------------*/
        .layout01 .layout01_img {
            width: 50%;
            float: right;
            margin-left: 2%;
            margin-bottom: 5px;
        }
            .layout01 .layout01_img img {
                width: 100%;
            }

        @media print, screen and (max-width: 639px) {
            .layout01 .layout01_img {
                width: 100%;
                float: none;
                margin-left: 0;
                margin-bottom: 10px;
            }
        }

    /* .ico_box
    --------------------------------------------*/
        .ico_box {
            background: #fff;
            box-shadow: 3px 3px 3px rgba(0,0,0,0.07);
            box-sizing: border-box;
            font-size: 1.3rem;
            padding: 30px 10px;
            border: 1px solid #ddd;
        }
            .ico_box .ico {
                color: #42f597;
                font-size: 3.0rem;
            }
                .sakura_club_li li .tit {
                    color: #42f597;
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

        @media print, screen and (min-width: 640px) {
            .col_pc3_sp1 > * {
                width: 32%;
                margin-left: 2%;
                margin-top: 15px;
                float: left;
            }
        }



/* ==================================================
    col_set
================================================== */

    /* .col_pc2_sp1
    -------------------------------------------------- */
        .col_pc2_sp1 > * {
          width: 100%;
          margin-top: 15px;
          box-sizing: border-box;
        }
        .col_pc2_sp1 > *:first-child { margin-top: 0;}

        @media print, screen and (min-width: 640px) {
            .col_pc2_sp1 > * {
                width: 49%;
                margin-left: 2%;
                margin-top: 15px;
                float: left;
            }
            .col_pc2_sp1 > *:nth-child(2n+1) { margin-left: 0;}
            .col_pc2_sp1 > *:nth-child(-n+2) { margin-top: 0;}
        }

    /* .col_pc3_sp1
    -------------------------------------------------- */

        .col_pc3_sp1 > * {
          width: 100%;
          margin-top: 15px;
          box-sizing: border-box;
        }
        .col_pc3_sp1 > *:first-child { margin-top: 0;}

        @media print, screen and (min-width: 640px) {
            .col_pc3_sp1 > * {
                width: 32%;
                margin-left: 2%;
                margin-top: 15px;
                float: left;
            }
            .col_pc3_sp1 > *:nth-child(3n+1) { margin-left: 0;}
            .col_pc3_sp1 > *:nth-child(-n+3) { margin-top: 0;}
        }

    /* .col_pc3_sp2
    -------------------------------------------------- */

        .col_pc3_sp2 > * {
          width: 49%;
          float: left;
          box-sizing: border-box;
          margin-top: 15px;
        }
        .col_pc3_sp2 > *:nth-child(-n+2) { margin-top: 0;}

        @media print, screen and (max-width: 639px) {
            .col_pc3_sp2 > *:nth-child(even) { float: right;}
        }

        @media print, screen and (min-width: 640px) {
            .col_pc3_sp2 > * {
                width: 32%;
                margin-left: 2%;
                margin-top: 15px;
                float: left;
            }
            .col_pc3_sp2 > *:nth-child(3n+1) { margin-left: 0;}
            .col_pc3_sp2 > *:nth-child(-n+3) { margin-top: 0;}
        }

    /* .col_pc4_sp1
    -------------------------------------------------- */
        .col_pc4_sp1 > * {
          width: 100%;
          margin-top: 15px;
          box-sizing: border-box;
        }
        .col_pc4_sp1 > *:first-child { margin-top: 0;}

        @media print, screen and (min-width: 640px) {
            .col_pc4_sp1 > * {
                width: 23.5%;
                margin-top: 15px;
                box-sizing: border-box;
                margin-left: 2%;
                float: left;
            }
            .col_pc4_sp1 > *:nth-child(4n+1) { margin-left: 0;}
            .col_pc4_sp1 > *:nth-child(-n+4) { margin-top: 0;}
        }

    /* .col_pc4_sp2
    -------------------------------------------------- */
        .col_pc4_sp2 > * {
          width: 49%;
          margin-left: 2%;
          margin-top: 15px;
          /*float: left;*/
          box-sizing: border-box;
        }
        .col_pc4_sp2 > *:nth-child(2n+1) { margin-left: 0;}

        @media print, screen and (min-width: 640px) {
            .col_pc4_sp2 > * {
                width: 23.5%;
                margin-left: 2%;
                margin-top: 15px;
            }
            .col_pc4_sp2 > *:nth-child(2n+1) { margin-left: 2%;}
            .col_pc4_sp2 > *:nth-child(4n+1) { margin-left: 0; }
        }

    .col2:after,
    .col3:after,
    .col_pc3_sp1:after,
    .col_pc2_sp1:after,
    .col_pc2_sp1_GapS:after,
    .col_pc3_sp2:after,
    .col_pc3_sp5:after,
    .col_pc4_sp6:after,
    .col_pc3_sp6:after,
    .col_pc4_sp2:after,
    .col_pc5_sp3:after,
    .col_pc5_sp4:after,
    .col5:after,
    .col_pc5_sp6:after,
    .col_pc5_sp7:after,
    .col2_p0:after,
    .col3_p0:after,
    .col_pc2_sp1_p0:after,
    .col_pc3_sp1_p0:after,
    .col_pc4_sp2_p0:after,
    .col_pc4_sp3_p0:after{
      content: '';
      clear: both;
      display: block;
    }

/* ==================================================
    width
================================================== */
    .w10p { width: 10% !important;}
    .w20p { width: 20% !important;}
    .w25p { width: 25% !important;}
    .w30p { width: 30% !important;}
    .w40p { width: 40% !important;}
    .w50p { width: 50% !important;}
    .w60p { width: 60% !important;}
    .w70p { width: 70% !important;}
    .w80p { width: 80% !important;}
    .w90p { width: 90% !important;}
    .w100p { width: 100% !important;}

    @media only screen and (max-width: 1023px) {
        .w10p_sp { width: 10% !important;}
        .w20p_sp { width: 20% !important;}
        .w25p_sp { width: 25% !important;}
        .w30p_sp { width: 30% !important;}
        .w40p_sp { width: 40% !important;}
        .w50p_sp { width: 50% !important;}
        .w60p_sp { width: 60% !important;}
        .w70p_sp { width: 70% !important;}
        .w80p_sp { width: 80% !important;}
        .w90p_sp { width: 90% !important;}
        .w100p_sp { width: 100% !important;}
    }


/* ==================================================
    margin
================================================== */

        .m0-a, .center {margin: 0 auto; }

    /* margin-top
    -------------------------------------------------- */
        .mt00 { margin-top: 0px !important;}
        .mt05 { margin-top: 5px !important;}
        .mt10 { margin-top: 10px !important;}
        .mt15 { margin-top: 15px !important;}
        .mt20 { margin-top: 30px !important;}
        .mt25 { margin-top: 25px !important;}
        .mt30 { margin-top: 30px !important;}
        .mt35 { margin-top: 35px !important;}
        .mt40 { margin-top: 40px !important;}
        .mt45 { margin-top: 45px !important;}
        .mt50 { margin-top: 50px !important;}
        .mt55 { margin-top: 55px !important;}
        .mt60 { margin-top: 60px !important;}
        .mt65 { margin-top: 65px !important;}

        @media only screen and (max-width: 1023px) {
            .mt05_sp { margin-top: 5px !important;}
            .mt10_sp { margin-top: 10px !important;}
            .mt15_sp { margin-top: 15px !important;}
            .mt20_sp { margin-top: 30px !important;}
            .mt25_sp { margin-top: 25px !important;}
            .mt30_sp { margin-top: 30px !important;}
            .mt35_sp { margin-top: 35px !important;}
            .mt40_sp { margin-top: 40px !important;}
            .mt45_sp { margin-top: 45px !important;}
            .mt50_sp { margin-top: 50px !important;}
            .mt55_sp { margin-top: 55px !important;}
            .mt60_sp { margin-top: 60px !important;}
            .mt65_sp { margin-top: 65px !important;}
        }

        @media print, screen and (min-width: 640px) {
            .mt05_pc { margin-top: 5px !important;}
            .mt10_pc { margin-top: 10px !important;}
            .mt15_pc { margin-top: 15px !important;}
            .mt20_pc { margin-top: 30px !important;}
            .mt25_pc { margin-top: 25px !important;}
            .mt30_pc { margin-top: 30px !important;}
            .mt35_pc { margin-top: 35px !important;}
            .mt40_pc { margin-top: 40px !important;}
            .mt45_pc { margin-top: 45px !important;}
            .mt50_pc { margin-top: 50px !important;}
            .mt55_pc { margin-top: 55px !important;}
            .mt60_pc { margin-top: 60px !important;}
            .mt65_pc { margin-top: 65px !important;}
        }

    /* margin-bottom
    -------------------------------------------------- */
        .mb05 { margin-bottom: 5px !important;}
        .mb10 { margin-bottom: 10px !important;}
        .mb15 { margin-bottom: 15px !important;}
        .mb20 { margin-bottom: 20px !important;}
        .mb30 { margin-bottom: 30px !important;}
        .mb40 { margin-bottom: 40px !important;}

        @media only screen and (max-width: 1023px) {
            .mb05_sp { margin-bottom: 5px !important;}
            .mb10_sp { margin-bottom: 10px !important;}
            .mb20_sp { margin-bottom: 20px !important;}
            .mb30_sp { margin-bottom: 30px !important;}
        }

        @media print, screen and (min-width: 1024px) {
          .mb05_pc { margin-bottom: 5px !important;}
          .mb10_pc { margin-bottom: 10px !important;}
          .mb20_pc { margin-bottom: 20px !important;}
          .mb30_pc { margin-bottom: 30px !important;}
        }

        /* margin-right
        -------------------------------------------------- */
            .mra { margin-right: auto !important;}
            .mr05 { margin-right: 5px !important;}
            .mr10 { margin-right: 10px !important;}
            .mr20 { margin-right: 20px !important;}
            .mr30 { margin-right: 30px !important;}

        /* margin-left
        -------------------------------------------------- */
            .mla { margin-left: auto !important;}
            .ml05 { margin-left: 5px !important;}
            .ml10 { margin-left: 10px !important;}
            .ml20 { margin-left: 20px !important;}
            .ml30 { margin-left: 30px !important;}


/* ==================================================
    padding
================================================== */

    /* ALL
    ---------------------------- */
        .p5-1p {padding: 5px 1%; }
        .p5-2p {padding: 5px 2%; }
        .p5-3p {padding: 5px 3%; }
        .p5-4p {padding: 5px 4%; }
        .p5-5p {padding: 5px 5%; }
        .p5-6p {padding: 5px 6%; }
        .p5-7p {padding: 5px 7%; }
        .p5-8p {padding: 5px 8%; }
        .p5-9p {padding: 5px 9%; }
        .p5-10p {padding: 5px 10%; }
        .p10-1p {padding: 10px 1%; }
        .p10-2p {padding: 10px 2%; }
        .p10-3p {padding: 10px 3%; }
        .p10-4p {padding: 10px 4%; }
        .p10-5p {padding: 10px 5%; }
        .p10-6p {padding: 10px 6%; }
        .p10-7p {padding: 10px 7%; }
        .p10-8p {padding: 10px 8%; }
        .p10-9p {padding: 10px 9%; }
        .p10-10p {padding: 10px 10%; }
        .p15-1p {padding: 15px 1%; }
        .p15-2p {padding: 15px 2%; }
        .p15-3p {padding: 15px 3%; }
        .p15-4p {padding: 15px 4%; }
        .p15-5p {padding: 15px 5%; }
        .p15-6p {padding: 15px 6%; }
        .p15-7p {padding: 15px 7%; }
        .p15-8p {padding: 15px 8%; }
        .p15-9p {padding: 15px 9%; }
        .p15-10p {padding: 15px 10%; }
        .p20-1p {padding: 20px 1%; }
        .p20-2p {padding: 20px 2%; }
        .p20-3p {padding: 20px 3%; }
        .p20-4p {padding: 20px 4%; }
        .p20-5p {padding: 20px 5%; }
        .p20-6p {padding: 20px 6%; }
        .p20-7p {padding: 20px 7%; }
        .p20-8p {padding: 20px 8%; }
        .p20-9p {padding: 20px 9%; }
        .p20-10p {padding: 20px 10%; }

    /* padding-top
    -------------------------------------------------- */
        .pt10 { padding-top: 10px !important;}
        .pt20 { padding-top: 20px !important;}
        .pt30 { padding-top: 30px !important;}
        .pt40 { padding-top: 40px !important;}
        .pt50 { padding-top: 50px !important;}
        .pt60 { padding-top: 60px !important;}

        @media only screen and (max-width: 1023px) {
            .pt10_sp { padding-top: 10px !important;}
            .pt20_sp { padding-top: 20px !important;}
            .pt30_sp { padding-top: 30px !important;}
            .pt40_sp { padding-top: 40px !important;}
            .pt50_sp { padding-top: 50px !important;}
            .pt60_sp { padding-top: 60px !important;}
        }

        @media print, screen and (min-width: 640px) {
            .pt10_pc { padding-top: 10px !important;}
            .pt20_pc { padding-top: 20px !important;}
            .pt30_pc { padding-top: 30px !important;}
            .pt40_pc { padding-top: 40px !important;}
            .pt50_pc { padding-top: 50px !important;}
            .pt60_pc { padding-top: 60px !important;}
        }

    /* padding-bottom
    -------------------------------------------------- */
        .pb00 { padding-bottom: 0px !important;}
        .pb10 { padding-bottom: 10px !important;}
        .pb20 { padding-bottom: 20px !important;}
        .pb30 { padding-bottom: 30px !important;}
        .pb40 { padding-bottom: 40px !important;}
        .pb50 { padding-bottom: 50px !important;}
        .pb60 { padding-bottom: 60px !important;}

        @media only screen and (max-width: 1023px) {
            .pb10_sp { padding-bottom: 10px !important;}
            .pb20_sp { padding-bottom: 20px !important;}
            .pb30_sp { padding-bottom: 30px !important;}
            .pb40_sp { padding-bottom: 40px !important;}
            .pb50_sp { padding-bottom: 50px !important;}
            .pb60_sp { padding-bottom: 60px !important;}
        }

        @media print, screen and (min-width: 1024px) {
          .pb10_pc { padding-bottom: 10px !important;}
          .pb20_pc { padding-bottom: 20px !important;}
          .pb30_pc { padding-bottom: 30px !important;}
          .pb40_pc { padding-bottom: 40px !important;}
          .pb50_pc { padding-bottom: 50px !important;}
          .pb60_pc { padding-bottom: 60px !important;}
        }


/* ==================================================
    text
================================================== */

    /* google_fonts
    -------------------------------------------------- */
        .lato { font-family: 'Lato', sans-serif , "メイリオ";}
        .noto { font-family: 'Noto', sans-serif , "メイリオ";}
        .font_basic {
          font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Roboto,"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"ＭＳ Ｐゴシック",sans-serif;
        }

    /* font-weight
    -------------------------------------------------- */
        .fw_n { font-weight: normal;}
        .bold,.fw_b { font-weight: bold !important;}

    /* color
    -------------------------------------------------- */
        .color_main {color: #00eaff !important; }
        .color_bk {color: #000 !important; }
        .color_wt {color: #fff !important; }
        .color_red { color: #d01a3f !important;}
        .color_green { color: #4cd964 !important;}
        .color_blue { color: #007aff !important;}

    /* other
    -------------------------------------------------- */
        .break { word-break: break-all;}
        .blank {
            background: #f7f7f7!important;
            padding: 30px!important;
            font-size: 1.8rem!important;
        }

    /* font-size
    -------------------------------------------------- */
        .fs10 { font-size: 1rem !important;}
        .fs11 { font-size: 1.1rem !important;}
        .fs12 { font-size: 1.2rem !important;}
        .fs13 { font-size: 1.3rem !important;}
        .fs14 { font-size: 1.4rem !important;}
        .fs15 { font-size: 1.5rem !important;}
        .fs16 { font-size: 1.6rem !important;}
        .fs18 { font-size: 1.8rem !important;}
        .fs20 { font-size: 2rem !important;}
        .fs22 { font-size: 2.2rem !important;}
        .fs24 { font-size: 2.4rem !important;}
        .fs26 { font-size: 2.6rem !important;}
        .fs28 { font-size: 2.8rem !important;}
        .fs30 { font-size: 3rem !important;}
        .fs32 { font-size: 3.2rem !important;}
        .fs34 { font-size: 3.4rem !important;}
        .fs36 { font-size: 3.6rem !important;}
        .fs38 { font-size: 3.8rem !important;}

        @media only screen and (max-width: 1023px) {
            .fs12_sp { font-size: 1.2rem !important;}
            .fs13_sp { font-size: 1.3rem !important;}
            .fs14_sp { font-size: 1.4rem !important;}
            .fs15_sp { font-size: 1.5rem !important;}
            .fs16_sp { font-size: 1.6rem !important;}
            .fs18_sp { font-size: 1.8rem !important;}
            .fs20_sp { font-size: 2rem !important;}
            .fs22_sp { font-size: 2.2rem !important;}
            .fs24_sp { font-size: 2.4rem !important;}
            .fs26_sp { font-size: 2.6rem !important;}
            .fs28_sp { font-size: 2.8rem !important;}
            .fs30_sp { font-size: 3rem !important;}
            .fs32_sp { font-size: 3.2rem !important;}
            .fs34_sp { font-size: 3.4rem !important;}
            .fs36_sp { font-size: 3.6rem !important;}
            .fs38_sp { font-size: 3.8rem !important;}
        }

        /* text-align
        -------------------------------------------------- */
            .tac { text-align: center !important;}
            .tar { text-align: right !important;}
            .tal { text-align: left !important;}

        /* vertical-align
        -------------------------------------------------- */
            .vat { vertical-align: top !important;}
            .vam { vertical-align: middle !important;}
            .vab { vertical-align: bottom !important;}

        /* text-indent
        -------------------------------------------------- */
            .indent {
              display: block;
              padding-left: 1em !important;
              text-indent: -1em !important;
            }

        /* blank_txt
        -------------------------------------------------- */
            .blank_txt {
                text-align: center;
                font-weight: bold;
            }


/* ==================================================
    list
================================================== */

    /* indent
    -------------------------------------------------- */
        .list_indent li {
          padding-left: 1em;
          text-indent: -1em;
        }

    /* aside_list_indent
    -------------------------------------------------- */
        .aside_list_indent li {
          padding-left: 0.5em;
          text-indent: -0.5em;
        }


/* ==================================================
    table_style
================================================== */

    /* default
    -------------------------------------------------- */
        .table_style {
            display: table;
            width: 100%;
            border-spacing: 0;
            word-wrap: break-word;
            word-break: break-all;
            border-top: 1px solid #ececec;
            border-right: 1px solid #ececec;
            border-left: 1px solid #ececec;
        }

            .table_style > dl {
                position: relative;
                display: table-row;
            }

                .table_style > dl > dt,
                .table_style > dl > dd {
                    display: table-cell;
                    vertical-align: top;
                    box-sizing: border-box;
                    line-height: 1.4 !important;
                    font-size: 1.4rem;
                    padding: 10px 10px;
                    margin: 0;
                    border-bottom: 1px solid #ececec;
                }

                .table_style > dl > dt {
                    width: 180px;
                    font-weight: normal;
                    background-color: #f5f5f5;
                    font-weight: normal;
                }

                .table_style > dl > dd {
                    background: rgba(255,255,255,0.4);
                    padding: 10px;
                }
                    .table_style > dl > dd label {
                        cursor: pointer;
                    }

            .table_style thead th {
                font-weight: bold;
                text-align: center;
            }

            @media print, screen and (min-width: 1024px) {
                .table_style > dd {
                    margin-left: 1em;
                }
            }

            @media only screen and (max-width: 639px) {
                .table_style > dl > dt,
                .table_style > dl > dd {
                    width: 100%;
                    font-size: 1.4rem;
                    display: block;
                    border-top: none;
                    padding: 8px 5px;
                }
            }





/* ==================================================
    pager
================================================== */
    .pager {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
        .pager a {
            padding: 5px;
            text-decoration: none;
            border: 1px solid #edc2c4;
            font-size: 1.2rem;
            margin: 0 5px;
        }
        .pager .next a,
        .pager .most_next a {
            padding-right: 0;
            padding-left: 8px;
        }
        .pager .prev a,
        .pager .most_prev a {
            padding-left: 0;
            padding-right: 8px;
        }
        .pager .next {
            margin-left: auto;
        }
        .pager .prev {
            margin-right: auto;
        }
        .pager .next {
            margin-left: auto;
        }
        .pager a.active {
            border: 1px solid transparent;
            pointer-events: none;
        }
        .pager a.active:hover {
            cursor: alias;
            opacity: 1;
        }

        .pager.mode_detail {
            margin-top: 40px;
        }





/* ==================================================
    .step_li
================================================== */
    .step_li {
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        margin-bottom: 60px;
    }
        .step_li li {
            width: 130px;
            height: 130px;
            background: #f5f5f5;
            box-sizing: border-box;
            color: #b5b5b5;
            display: inline-flex;
            font-size: 1.8rem;
            font-weight: bold;
            align-items: center;
            justify-content: center;
            position: relative;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 50%;
            margin: 0 20px;
        }
            .step_li li::after {
                content: "›";
                color: #b5b5b5;
                display: block;
                text-shadow: none;
                position: absolute;
                top: 50px;
                left: 145px;
            }
            .step_li li:last-child::after {
                content: none;
            }

    @media print, screen and (max-width: 639px){
        .step_li {
            margin-bottom: 40px;
        }
        .step_li li {
            width: 90px;
            height: 90px;
            box-sizing: border-box;
            font-size: 1.6rem;
            text-align: center;
            padding: 5px;
            margin: 0 2%;
        }

        .step_li li::after {
            top: 32px;
            left: 93px;
        }
    }



/* ==================================================
    .area_dl
================================================== */
    .area_dl {
        margin-bottom: 60px;
    }
        .area_dl > dt {
            border-radius: 10px 10px 0 0;
            background: #f5f5f5;
            color: #b5b5b5;
            display: inline-block;
            font-size: 2.2rem;
            font-weight: bold;
            padding: 3px 30px;
            border: 1px solid rgba(0,0,0,0.2);
            border-bottom: none;
        }
        .area_dl > dd {
            background: rgba(255,255,255,0.4);
            padding: 20px;
            border: 1px solid rgba(0,0,0,0.2);
        }

    .area_li > li {
        margin-top: 15px;
    }
        .area_li > li:first-child {
            margin-top: 0;
        }

    .area_detail_dl > dt {
        color: #ddd;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .area_detail_li:after {
        content: "";
        display: block;
        clear: both;
    }
        .area_detail_li li {
            background: #ffeaea;
            float: left;
            font-size: 1.3rem;
            padding: 3px 7px;
            border: 1px solid #ddd;
            margin: 10px 10px 0;
        }


    @media print, screen and (max-width: 639px) {
        .area_dl {
            margin-bottom: 30px;
        }
        .area_dl > dt {
            font-size: 1.8rem;
        }
        .area_dl > dd {
            padding: 10px 2% 20px;
        }
    }


/* ==================================================
    個別の設定
================================================== */

    /* .txt_box
    -------------------------------------------------- */
        .txt_box p {
            margin-top: 15px;
        }
        .txt_box p:first-child {
            margin-top: 0;
        }


    /*  .intro_box
    -------------------------------------------------- */
        .intro_box {
            background: url(../images/common_img/intro_bg.gif) left top;
            padding: 20px 20px 20px;
            border: 1px solid #edc2c4;
            margin-bottom: 40px;
        }


