@charset "UTF-8";

/*共通-------------------------------------------------------------------------------------------*/
@font-face {
	font-family: 'Noto';
	src: url('../font/noto_sans_reg.woff') format('woff');
}

body {
	font-size: 1.4rem;
	font-family: "Noto";
}

#wrapper {
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	color: #333;
	background-image: url(../images/bg_left.png), url(../images/bg_right.png);
	background-repeat: repeat-y, repeat-y;
	background-position: left top, right top;
	background-size: 40%, 40%;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #fff;
}

a:visited {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

a:active {
	text-decoration: none;
	color: #fff;
}

* {
	box-sizing: border-box;
}

/*header -------------------------------------------------------------------------------------------*/
.header {
	position: relative;
}

.header_tel {
	position: absolute;
	left: 50%;
	bottom: 20%;
	transform: translateX(-50%);
}

.header_time {
	position: absolute;
	width: 41vw;
	left: 3%;
	bottom: 3%;
}

.nav {
	position: fixed;
	z-index: 999;
	right: 0;
	top: 0;
	width: 56%;
	transition: 0.3s ease;
	transform: translate(100%, 0);
}

.menu {
	padding: 14px 16px;
	background-color: #ff8dd8;
	box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.1);
	border-bottom-left-radius: 24px;
}

.nav.open {
	transform: translate(0, 0);
}

.menu a {
	display: block;
	padding: 12px 4px;
	color: #fff;
	font-weight: 500;
}

.menu_btn {
	display: block;
	width: 64px;
	height: 64px;
	background-color: #ff8dd8;
	position: absolute;
	top: 0;
	left: -64px;
	border-bottom-left-radius: 24px;
	text-align: center;
}

.menu_btn span {
	color: #fff;
}

.h_menu {
	width: 64%;
	margin: 10% auto 10% auto;
}

.open+.menu_btn {}

/*footer -------------------------------------------------------------------------------------------*/
#footer {
	margin-top: 10%;
}

#footer ul {
	list-style: none;
	background-color: #fff;
}

#footer li {
	border-top: 1px solid #09bef6;
	padding: 0 16px;
}

#footer li a {
	color: #666;
	display: block;
	padding: 16px 8px;
	position: relative;
}

#footer li a:after {
	content: "";
	display: block;
	position: absolute;
	top: calc(50% - 4px);
	right: 24px;
	width: 8px;
	height: 8px;
	border-top: 1px solid #09bef6;
	border-right: 1px solid #09bef6;
	transform: rotate(45deg);
}

#f_logo {
	padding: 24px 16px;
	text-align: center;
	background: linear-gradient(#00eaff, #ff82cc);
}

.contact {
	display: flex;
	justify-content: space-between;
	width: 70%;
	font-size: 3vw;
	font-family: 'MyWebFont';
	font-size: -5vw;
	color: #fff;
	margin: 0 auto;
	padding: 5px 0 20px 0;
}

@font-face {
	font-family: 'MyWebFont';
	src: url('../font/rounded-mgen-black-ss.woff') format('woff');
}

small {
	color: #fff;
	font-size: 1vw;
	padding-top: 6%;
}

#f_logo .footer-logo {
	width: 70%;
	height: auto;
}

.banner-link {
	margin-top: 24px;
}

.banner-link img {
	width: auto;
}

.contact_txt a:link {
	text-decoration: none;
	color: #fff;
}

/*contents -------------------------------------------------------------------------------------------*/

/* ---index---------------------------------------------------------------------------------------------------------------------------*/
#contents_wrapper {
	margin-top: 30px;
	width: 90vw;
	height: auto;
	margin-left: 5%;
}

.event {
	margin-bottom: 9%;
}

.new {
	margin-bottom: 9%;
}

.title {
	margin-bottom: 4%;
}

.top_cast {
	padding: 2%;
	width: 48%;
	background-image: linear-gradient(22deg, #00B4FF 0%, #3DFFBD 100%);
	margin-bottom: 4%;
	text-align: center;
	border-radius: 10px;
	box-sizing: border-box;
}

.cast_title {
	margin-bottom: 2%;
	width: 68%;
	margin: 0 auto;
	padding-bottom: 10px;
}

.wrap_top_cast {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.top_name {
	font-size: 3vw;
	padding: 3%;
	background-color: #fff;
	color: #ff8dd8;
	margin: 0 auto;
	border-radius: 0px 0px 5px 5px;
	/* 左上、右上、右下、左下 */
}

.top_bodysize {
	font-size: 2vw;
	color: #FFF;
	padding-top: 2%;
}

.btn_more {
	text-align: center;
}

.top_photo {
	width: 100%;
}

/* ---schedule---------------------------------------------------------------------------------------------------------------------------*/
.active li {
	background-color: #00eaff;
	font-size: 80%;
	padding: 2%;
	width: 25%;
	text-align: center;
}

.active li a {
	color: #fff;
	text-decoration-line: none;
}

.schedule_day ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin: 0 auto 5% auto;
	width: 100%;
}

.schedule_day .active .actives {
	background-color: #ff8dd8;
}

.schedule_work {
	font-size: 2vw;
	background-color: #e7f9fe;
	color: #ff8dd8;
	padding: 4px 0;
	margin: 5px 0 4px 0;
}

/* ---system---------------------------------------------------------------------------------------------------------------------------*/
.wrap_concept {
	background-size: cover;
	padding-bottom: 15%;
	position: relative;
}

h3 {
	background: url(../images/system_line.png) no-repeat bottom/contain;
	text-align: center;
	font-family: 'MyWebFont';
	font-size: 5vw;
	padding-bottom: 2%;
}

.system_txt {
	margin: auto;
	width: 87%;
	font-size: 3.2vw;
	padding-top: 2%;
	line-height: 200%;
}

.heartimg {
	position: absolute;
	width: 14%;
	right: 0.4%;
	bottom: -19%;
}

.course {
	position: relative;
	margin-bottom: 20%;
}

.price {
	margin: 4% 0;
	padding: 3% 0;
	color: #fff;
	background: linear-gradient(-45deg, #ff70c4, #7ab0e3, #00eaff);
	border-radius: 10px;
	text-align: center;
	font-size: 4vw;
}

/* ---access---------------------------------------------------------------------------------------------------------------------------*/
.map {
	background-image: url(../images/access_frame.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding-bottom: 11%;
	position: relative;
}

.access_heartimg {
	position: absolute;
	width: 5.5%;
	right: -4.5%;
	bottom: 8%;
}

.map_contents {
	padding: 6%;
}

h2 {
	text-align: center;
	font-family: 'MyWebFont';
	font-size: 4vw;
	padding-bottom: 6px;
}

.title_line {
	text-align: center;
}

.map_txt {
	text-align: center;
	padding-top: 2%;
	font-size: 3vw;
}

.link-banner {
	width: 100%;
	padding: 10px;
	margin: 30px auto;
	box-sizing: border-box;
}

.link-banner img {
	width: auto;
	max-width: 100%;
}