.about{
  .about04{
    padding-bottom: 64rem;
    &__top{
      margin-bottom: 1em;
      font-size: 46rem;
      font-weight: 900;
      line-height: 1.6;
      text-align: center;
      @include tab {
        font-size: 31rem;
      }
      @include sp {
        font-size: 18rem;
      }
    }
    &__bottom{
      font-size: 76rem;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: rgba(#ff0090, 0.72);
      text-align: center;
      @include tab {
        font-size: 52rem;
        -webkit-text-stroke-width: 0.4px;
      }
      @include sp {
        font-size: 28rem;
      }
      span{
        position: relative;
        &::before,&::after{
          position: absolute;
          content: "";
          width: 80px;
          height: 100px;
          background-size: contain;
          background-repeat: no-repeat;
          @include tab {
            width: 8vw;
            height: 10vw;
          }
        }
        &::before{
          bottom: 0;
          left: 0;
          transform: translate(-180%,0);
          background-image: url(../img/about04_deco01.webp);
        }
        &::after{
          top: 0;
          right: 0;
          transform: translate(90%,-10%);
          background-image: url(../img/about04_deco02.webp);
        }
      }
    }
  }
}