.contact{
  &__top{
    padding-top: 120rem;
    padding-bottom: 80rem;
    @include tab {
      padding-top: 40rem;
      padding-bottom: 64rem;
    }
    &--message{
      margin-bottom: 80rem;
      font-size: 67rem;
      font-family: $maruFo;
      font-weight: 400;
      letter-spacing: 0.1em;
      text-align: center;
      @include tab {
        margin-bottom: 40rem;
        font-size: 43rem;
      }
      @include sp {
        font-size: 20rem;
      }
    }
    &--info{
      display: block;
      width: 50%;
      margin: 0 auto 80rem;
      @include tab {
        width: 70%;
        margin-bottom: 16rem;
      }
    }
    &--text{
      margin-bottom: 40rem;
      font-size: 41rem;
      font-family: $maruFo;
      letter-spacing: 0.1em;
      text-align: center;
      @include sp {
        font-size: 20rem;
      }
    }
    &--line{
      display: flex;
      justify-content: center;
      gap: 32rem;
      .line-qr{
        width: 10%;
      }
      .line-id{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        span{
          font-family: $yasashisa;
          font-weight: 400;
          &:nth-child(1){
            font-size: 33rem;
          }
          &:nth-child(2){
            padding: 8rem 8rem;
            background-color: #fff;
            border-radius: 12px;
            color: $green;
            font-size: 35rem;
          }
        }
      }
      @include tab {
        .line-button{
          display: block;
          width: 70%;
          margin: 0 auto;
        }
      }
    }
  }
  &__bottom{
    padding-bottom: 120rem;
  }
}