@import "mixin";

.bg{
  width: 100%;
  background-size: cover;
  background-position: 0%;
  &__inner{
    width: 100%;
    height: 100%;
    position: relative;
  }
}
@for $i from 1 through 4 {
  .bg0#{$i} {
    background-image: url(./../img/bg_pc0#{$i}.jpg);
    @include tab {
      background-image: url(./../img/bg_tab0#{$i}.jpg);
    }
  }
}

.bg01{
  &__inner{
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4%;
      background: linear-gradient(to bottom, rgba(#000080,0) 0%, rgba(#000080,0.1) 100%);
      @include tab {
        background: linear-gradient(to bottom, rgba(#000080,0) 0%, rgba(#000080,0.4) 100%);
      }
    }
  }
}
.bg02{
  &__inner{
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1%;
      background: linear-gradient(to bottom, rgba(#000033,0.1) 0%, rgba(#000033,0) 100%);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1%;
      background: linear-gradient(to bottom, rgba(#000080,0) 0%, rgba(#000080,0.1) 100%);
    }
  }
}
.bg03{
  &__inner{
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1%;
      @include tab {
        background: linear-gradient(to bottom, rgba(#000033,0.1) 0%, rgba(#000033,0) 100%);
      }
    }
  }
}
.bg04{
  &__inner{
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4%;
      @include tab {
        background: linear-gradient(to bottom, rgba(#000080,0.1) 0%, rgba(#000080,0) 100%);
      }
    }
  }
}