@font-face {
  font-family: "A-OTF-UDShinMGoPro-Bold";
  src: url("../font/A-OTF-UDShinMGoPro-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "A-OTF-UDShinMGoPro-Heavy";
  src: url("../font/A-OTF-UDShinMGoPro-Heavy.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "07やさしさゴシックボールド";
  src: url("../font/07やさしさゴシックボールド.ttf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "A-OTF-MaruFoPro-Regular_0";
  src: url("../font/A-OTF-MaruFoPro-Regular_0.otf") format("opentype");
  font-weight: 400;
}