$black: #091130;
$yellow: #ffe948;
$blue: #4ab6ee;
$pink: #f4dfdc;
$green: #80bc39;
$red: #c61130;
$lightRed: #dd7083;
$brown: #610000;
$gold: #e5c386;
$orange: #e69c48;
$dustyBlue: #87a3b4;
$gray: #646464;
