@font-face {
  font-family: "A-OTF-RyuminPr5-Medium";
  src: url('../font/A-OTF-RyuminPr5-Medium.otf') format('opentype'); 
  font-weight: 500;
}
@font-face {
  font-family: "HummingStd-B";
  src: url('../font/FOT-HummingStd-B.otf') format('opentype'); 
  font-weight: 700;
}