.girlCard{
  &.none{
    display: none!important;
  }
  &.block{
    display: block!important;
  }
  &__frame{
    position: relative;
    text-align: left;
    &--flex{
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      z-index: 1;
    }
  }
}