.topToday{
  position: relative;
  z-index: 2;
  padding-top: 80rem;
  padding-bottom: 80rem;
  background-color: #ececeb;
  @include tab {
    padding-bottom: 0rem;
    background-color: $pink;
  }
  &__content{
    padding-bottom: 40rem;
    &--link{
      font-size: 26rem;
      text-decoration: underline;
      text-align: right;
      @include tab {
        color: #646464;
        font-size: 32rem;
        letter-spacing: 0.2em;
        text-align: center;
      }
      @include sp {
        font-size: 20rem;
      }
    }
  }
  .girlList{
    padding-bottom: 120rem;
  }
}