// メディアクエリ設定
$breakpoints: (
  'xsmall': 'screen and (max-width: 320px)',
  'small' : 'screen and (max-width: 440px)',
  'middle': 'screen and (max-width: 768px)',
  'large' : 'screen and (max-width: 960px)',
  'xlarge': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: middle) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ジェネラル
body {
  font-family: $font_noto;
  font-size: 1.6rem;
  overflow-x: hidden;
}
.wrapper {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  box-shadow: 0 0 8px rgba(#000, 0.1);
}
.inner {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  @include mq(xlarge) { width: 100%; }
}

// ヘッダー
.g-header {
  position: relative;
  background: url("img/header_bg.png") no-repeat center / 100% auto;
  &::before {
    content: "";
    display: block;
    position: relative;
    z-index: 98;
    padding-top: 53.8541%;
    background: url("img/header_flower1.png") no-repeat top left / 40% auto,
                url("img/header_flower2.png") no-repeat top right / 40% auto;
  }
  .mainvisual {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    max-width: 900px;
    h1 {
      position: relative;
    }
    .line-qr {
      position: absolute;
      display: block;
      width: 30%;
      height: 5%;
      left: 52%;
      top: 29%;
      @include mq(small) { display: none; }
    }
  }
  @include mq(middle) {
    .mainvisual {
      width: 62%;
      max-width: 62%;
    }
  }
}

// セクション見出し
%section_title {
  position: absolute;
  left: 50%;
  z-index: 99;
  width: 16%;
  min-width: 280px;
  background: url("img/section_title.png") no-repeat center / 100% auto;
  transform: translate(-50%, -64%);
  &::before {
    content: "";
    display: block;
    padding-top: 66.5441%;
  }
  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 16px 0;
    border: 0 solid #e14684;
    border-width: 1px 0;
    color: #e14684;
    font-size: 3.2rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  // MQ lower 440px
  @include mq(small) {
    width: 192px;
    min-width: auto;
    span { font-size: 2rem; }
  }
}
