// 応募フォーム
#apply {
  background-color: #ffddeb;
  border-top: 48px solid #ff98c1;
  h2 {
    @extend %section_title;
  }
  .link-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    text-align: center;
    a {
      margin-bottom: 24px;
      font-size: 12px;
      text-align: center;
      text-decoration: underline;
      line-height: 1.4;
    }
  }
}

.form {
  padding-top: 128px;
  padding-bottom: 96px;
  color: #e14684;
  font-family: $font_mincho;
  width: 90%;
}

// テキストボックスの共通スタイル設定
%form_style {
  flex-basis: 60%;
  margin-right: 10%;
  margin-left: auto;
  padding: 3px 4px;
  border: 1px solid #888;
  color: #666;
  font-family: $font_noto;
  font-size: 16px;
}
.form-box {
  li {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
    line-height: 32px;
  }
  .label {
    flex-basis: 20%;
    margin-right: 10%;
    text-align: right;
    cursor: pointer; 
  }
  input{
    @extend %form_style;
    height: 32px;
  }
  textarea {
    @extend %form_style;
    min-height: 240px;
    resize: vertical;
  }
  input[type="checkbox"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #888;
    border: 0 solid transparent;
    transition: 0.3s ease;
    vertical-align: middle;
    margin-right: 4px;
    &:checked {
      border: 3px solid #fff;
      background-color: #ff8ebd;
    }
  }
  input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #ff8ebd;
    color: #fff;
    padding: 4px 8px;
    width: 96px;
  }
  .must {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    background-color: #ff8ebd;
    color: #fff;
    text-align: center;
    height: 32px;
    width: 8%;
    line-height: 32px;
  }
  .radio {
    flex-basis: 60%;
    margin-right: 10%;
    &.contact { margin-bottom: 16px; }
    label { cursor: pointer; }
  }
}


// メディアクエリ 1200以下
@include mq(xlarge) {
  .form{
    padding-left: 48px;
    padding-right: 48px;
  }
  .form-box{
    .label {
      flex-basis: 10%;
      margin-right: 5%;
    }
    %form_style {
      flex-basis: 75%;
    }
    .radio {
      flex-basis: 75%;
    }
  }
}

// メディアクエリ 768以下
@include mq(middle) {

    .form-box {
      li {
        flex-direction: column;
      }
      .label {
        flex-basis: 100%;
        margin-right: 0;
        text-align: left;
      }
      %form_style {
        flex-basis: 100%;
        margin-right: 0;
        margin-left: 0;
      }
      .must {
        bottom: 44px;
        padding: 0 8px;
        width: auto;
        height: 24px;
        line-height: 24px;
        font-size: 1.4rem;
      }
    }
  }

.text02 {
  display: none;
}

/********************************************
* Now Loading
********************************************/
#form-load {
  display: none;
}
.loader {
  margin: 0 auto;
  border: 12px solid #fafafa;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load1 {
  animation: sk-scaleout 1s infinite ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 201;
  text-align: center;
  background-color: #b1b1b1;
  color: #ffffff;
  opacity: 0.8;
  width: 800px;
}
.load1 p {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }



    @media (max-width: 768px) {
        .form-question{
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}