// MAIN NAVIGATION
.g-nav {
  &>h2 { display: none; }
  position: relative;
  background-color: #79dcd6;
  //filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2)); scrolling bug occured
  color: #fff;
  .inner {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: 0.3s ease;
    &.fixed {
      position: fixed;
      top: 0;
      z-index: 100;
      width: 100%;
      max-width: 1920px;
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: #79dcd6;
    }
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 32px;
    background-size: 32px 32px;
    bottom: -32px;
    background-image:  linear-gradient(135deg, #79dcd6 16px, transparent 0), linear-gradient(225deg, #79dcd6 16px, transparent 0);
  }
  li {
    &:not(:last-child){
      border-right: 1px solid #fff;
      margin-right: 1em;
      padding-right: 1em;
    }
  }
}

// MENU BUTTON
%rect {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 2px;
  background-color: #fff;
  overflow: hidden;
  transition: 0.3s ease;
  transform-origin: left center;
}
#menu-button {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 64px;
  height: 64px;
  padding: 16px;
  background-color: #79dcd6;
  cursor: pointer;
  transition: 0.3s ease;
  span {
    @extend %rect;
  }
  &::before {
    @extend %rect;
    top: 20px;
  }
  &::after {
    @extend %rect;
    bottom: 18px;
  }
  &.open {
    transform: translateY(140px);
    span { opacity: 0; }
    &::before {
      transform: rotate(45deg) translate(4px, -3px);
    }
    &::after {
      transform: rotate(-45deg) translate(4px, 2px);
    }
  }
}

// MQ lower 768px
@include mq(middle) {
  .g-nav {
    &::after { display: none; }
    .inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 999;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      height: 140px;
      align-self: center;
      background-color: #79dcd6;
      transform: translateY(-100%);
      transition: 0.3 ease;
      li {
        flex-basis: 50%;
        margin: 0;
        padding: 0;
        border: 0;
        white-space: nowrap;
        overflow: hidden;
      }
      a {
        display: block;
        padding: 16px 0;
        text-align: center;
        font-size: 1.4rem;
      }
    }
    .open + .inner {
      transform: translateY(0);
    }
    #menu-button {
      display: block;
    }
  }
}