html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, del, dfn, ins, kbd, q, sub, sup, tt, var, code, samp,
b, u, i, s, em, small, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font-style: normal;
	font-weight: inherit;
	vertical-align: baseline;
}
html {
  font-size: 62.5%;
  letter-spacing: 1px;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
  border: none;
  vertical-align: middle;
  max-width: 100%;
}
input, textarea, select, button {
  padding: 0;
  margin: 0;
  border: 0 none;
  font-family: inherit;
  appearance: none;
  border-radius: 0;
}
:focus { outline: 0; }
* { box-sizing: border-box; }
a {
  text-decoration: none;
  color: inherit;
}