@charset "UTF-8";

@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  src: url("font/noto_sans_ss_reg.woff") format('woff');
}
@font-face {
  font-family: "Rounded M";
  font-weight: 500;
  src: url('font/rounded-x-mplus-2c-bold.woff') format('woff');
}
@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  src: url('font/noto-serif-ss.woff') format('woff');
}

$font_noto: "Noto Sans";
$font_mincho: "Noto Serif";
$font_maru: "Rounded M";

@import "reset";
@import "common";
@import "nav";
@import "about";
@import "course";
@import "works";
@import "salary";
@import "form";
@import "footer";