@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  src: url("font/noto_sans_ss_reg.woff") format("woff");
}

@font-face {
  font-family: "Rounded M";
  font-weight: 500;
  src: url("font/rounded-x-mplus-2c-bold.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  src: url("font/noto-serif-ss.woff") format("woff");
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
del,
dfn,
ins,
kbd,
q,
sub,
sup,
tt,
var,
code,
samp,
b,
u,
i,
s,
em,
small,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  letter-spacing: 1px;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
  vertical-align: middle;
  max-width: 100%;
}

input,
textarea,
select,
button {
  padding: 0;
  margin: 0;
  border: 0 none;
  font-family: inherit;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

:focus {
  outline: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto Sans";
  font-size: 1.6rem;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.inner {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .inner {
    width: 100%;
  }
}

.g-header {
  position: relative;
  background: url("img/header_bg.png") no-repeat center/100% auto;
}

.g-header::before {
  content: "";
  display: block;
  position: relative;
  z-index: 98;
  padding-top: 53.8541%;
  background: url("img/header_flower1.png") no-repeat top left/40% auto, url("img/header_flower2.png") no-repeat top right/40% auto;
}

.g-header .mainvisual {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  max-width: 900px;
}

.g-header .mainvisual h1 {
  position: relative;
}

.g-header .mainvisual .line-qr {
  position: absolute;
  display: block;
  width: 30%;
  height: 5%;
  left: 52%;
  top: 29%;
}

@media screen and (max-width: 440px) {
  .g-header .mainvisual .line-qr {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .g-header .mainvisual {
    width: 62%;
    max-width: 62%;
  }
}

#apply h2,
#salary h2,
#works h2,
#courseback h2 {
  position: absolute;
  left: 50%;
  z-index: 99;
  width: 16%;
  min-width: 280px;
  background: url("img/section_title.png") no-repeat center/100% auto;
  transform: translate(-50%, -64%);
}

#apply h2::before,
#salary h2::before,
#works h2::before,
#courseback h2::before {
  content: "";
  display: block;
  padding-top: 66.5441%;
}

#apply h2 span,
#salary h2 span,
#works h2 span,
#courseback h2 span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 16px 0;
  border: 0 solid #e14684;
  border-width: 1px 0;
  color: #e14684;
  font-size: 3.2rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

@media screen and (max-width: 440px) {

  #apply h2,
  #salary h2,
  #works h2,
  #courseback h2 {
    width: 192px;
    min-width: auto;
  }

  #apply h2 span,
  #salary h2 span,
  #works h2 span,
  #courseback h2 span {
    font-size: 2rem;
  }
}

.g-nav {
  position: relative;
  background-color: #79dcd6;
  color: #fff;
}

.g-nav>h2 {
  display: none;
}

.g-nav .inner {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: 0.3s ease;
}

.g-nav .inner.fixed {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  max-width: 1920px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #79dcd6;
}

.g-nav::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 32px;
  background-size: 32px 32px;
  bottom: -32px;
  background-image: linear-gradient(135deg, #79dcd6 16px, transparent 0), linear-gradient(225deg, #79dcd6 16px, transparent 0);
}

.g-nav li:not(:last-child) {
  border-right: 1px solid #fff;
  margin-right: 1em;
  padding-right: 1em;
}

#menu-button::after,
#menu-button::before,
#menu-button span {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 2px;
  background-color: #fff;
  overflow: hidden;
  transition: 0.3s ease;
  transform-origin: left center;
}

#menu-button {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 64px;
  height: 64px;
  padding: 16px;
  background-color: #79dcd6;
  cursor: pointer;
  transition: 0.3s ease;
}

#menu-button::before {
  top: 20px;
}

#menu-button::after {
  bottom: 18px;
}

#menu-button.open {
  transform: translateY(140px);
}

#menu-button.open span {
  opacity: 0;
}

#menu-button.open::before {
  transform: rotate(45deg) translate(4px, -3px);
}

#menu-button.open::after {
  transform: rotate(-45deg) translate(4px, 2px);
}

@media screen and (max-width: 768px) {
  .g-nav::after {
    display: none;
  }

  .g-nav .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 140px;
    align-self: center;
    background-color: #79dcd6;
    transform: translateY(-100%);
    transition: 0.3 ease;
  }

  .g-nav .inner li {
    flex-basis: 50%;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
  }

  .g-nav .inner a {
    display: block;
    padding: 16px 0;
    text-align: center;
    font-size: 1.4rem;
  }

  .g-nav .open+.inner {
    transform: translateY(0);
  }

  .g-nav #menu-button {
    display: block;
  }
}

#about {
  background: url("img/bg_pattern.png") center/100px 100px;
}

#about h2 {
  display: none;
}

#about .about3 {
  transform: translate(-28%, -96px);
}

#about .about3 p {
  background-color: #fff;
  position: relative;
  margin-bottom: 24px;
  width: 100%;
  color: #4091cd;
  font-family: "Noto Serif";
  font-size: 4.8rem;
  padding: 16px;
  text-align: right;
  transform: rotateY(-32deg) rotateX(-26deg) rotateZ(16deg);
  transform-style: preserve-3d;
}

#about .about3 p::before {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  border-top: 16px solid #91c2e7;
  transform-origin: bottom center;
  transform: rotateX(90deg);
}

#about .about3 p::after {
  content: "";
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
  height: 100%;
  border-right: 16px solid #91c2e7;
  transform-origin: left center;
  transform: rotateY(90deg);
}

#about .about-line {
  margin-top: 24px;
  width: 100%;
  height: 40px;
  background: url("img/loop_line.png") repeat-x;
  position: relative;
  top: 16px;
}

#about .about5 {
  padding: 32px 0;
  background-color: #fff;
}

@media screen and (max-width: 1200px) {
  #about .about3 {
    margin-top: 48px;
    margin-bottom: 32px;
    padding-right: 24px;
    transform: translate(0, 0);
  }

  #about .about3 p {
    transform: rotate(0);
    border: 0 solid #91c2e7;
    border-width: 4px 4px 0 0;
    font-size: calc(0.88rem + 2vw);
    line-height: 1.5;
    padding: 8px;
  }

  #about .about4 {
    padding: 0 20px;
  }
}

#courseback {
  position: relative;
  padding-bottom: 128px;
  border-top: 48px solid #ff98c1;
  background: url("img/salary_bg1.png") no-repeat top center/100% auto, url("img/salary_bg2.png") no-repeat bottom center/100% auto;
}

.course-list {
  margin-top: 128px;
}

.course-list .course {
  position: relative;
}

.course-list .course .inner {
  margin-bottom: 80px;
  padding: 24px;
  background-image: repeating-linear-gradient(135deg, transparent 0, transparent 1px, rgba(97, 97, 97, 0.2) 1px, rgba(97, 97, 97, 0.2) 2px);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px #fff;
  line-height: 1.5;
}

.course-list .course h3 {
  display: block;
  position: relative;
  padding-bottom: 8px;
}

.course-list .course h3 img {
  position: absolute;
  top: -72px;
  height: 96px;
}

.course-list .course h3 span {
  color: #d91161;
  font-size: 2.2rem;
}

.course-list .course p {
  margin: 16px 0;
  color: #373737;
  font-size: 2rem;
  text-align: center;
}

.course-list .course::before {
  content: "";
  position: absolute;
  top: 64px;
  border: 0 solid transparent;
  border-top: 12px solid #000;
}

.course-list .course::after {
  content: "";
  position: absolute;
  top: 64px;
  border-bottom: 1px solid #000;
  width: calc(calc(100% - 960px) / 2 + 1024px);
  height: 0;
}

.course-list .course:nth-of-type(odd) h3 {
  text-align: right;
}

.course-list .course:nth-of-type(odd) h3 img {
  left: -56px;
}

.course-list .course:nth-of-type(odd)::before {
  right: calc(calc(100% - 960px) / 2 + 1008px);
  border-left-width: 16px;
}

.course-list .course:nth-of-type(odd)::after {
  right: 0;
}

.course-list .course:nth-of-type(even) h3 {
  text-align: left;
}

.course-list .course:nth-of-type(even) h3 img {
  right: -56px;
}

.course-list .course:nth-of-type(even)::before,
.course-list .course:nth-of-type(even)::after {
  left: calc(calc(100% - 960px) / 2 + 1008px);
  border-right-width: 16px;
}

.course-list .course:nth-of-type(even)::after {
  left: 0;
}

.course-list .prices {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #fff;
  color: #d20000;
  font-family: "Noto Serif";
  text-align: center;
}

.course-list .prices dt {
  font-size: 1.8rem;
  line-height: 1;
}

.course-list .prices dt em {
  font-size: 3rem;
}

.course-list .prices dd {
  font-size: 3.2rem;
}

.course-list .prices dd:not(:last-of-type) {
  margin-right: 0.88em;
}

.course-list .prices dd em {
  font-size: 4.4rem;
  letter-spacing: -0.1px;
}

@media screen and (max-width: 1200px) {
  #courseback {
    padding-right: 24px;
    padding-left: 24px;
  }

  .course-list .course h3 {
    text-align: center !important;
  }

  .course-list .course h3 img {
    position: static;
    height: auto;
    max-height: 96px;
  }

  .course-list .course h3 span {
    display: block;
  }

  .course-list .course::after,
  .course-list .course::before {
    display: none;
  }
}

@media screen and (max-width: 1200px) and (max-width: 440px) {
  .course-list .prices {
    flex-direction: column;
    align-items: center;
  }

  .course-list .prices dt {
    margin-right: 0;
  }

  .course-list .prices dd:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 960px) {
  .course-list .course .prices {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
  }

  .course-list .course .prices dt {
    flex-basis: 25%;
    text-align: right;
  }

  .course-list .course .prices dd {
    flex-basis: 60%;
    margin-right: 0;
  }
}

#works {
  border-top: 48px solid #ff98c1;
  padding-bottom: 128px;
  background-image: repeating-linear-gradient(90deg, #ffedf4 0, #ffedf4 10px, #fff6fa 10px, #fff6fa 20px);
}

#works .work3,
#works .work2,
#works .work1 {
  display: grid;
  align-items: center;
  grid-template-areas: "g1 g2";
  grid-auto-columns: auto 320px;
  position: relative;
  margin-bottom: 16px;
}

#works .work3 .work-text,
#works .work2 .work-text,
#works .work1 .work-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: g1;
}

#works .work3 .work-text h3,
#works .work2 .work-text h3,
#works .work1 .work-text h3 {
  margin-bottom: 16px;
  padding-bottom: 16px;
  background: linear-gradient(to top left, transparent 50%, #7dcdff 51%) no-repeat bottom left/100% 8px;
  color: #1a1a1a;
  font-family: "Rounded M";
  line-height: 1.5;
}

#works .work3 .work-text h3 em,
#works .work2 .work-text h3 em,
#works .work1 .work-text h3 em {
  color: #ef2d7a;
}

#works .work3 .work-text p,
#works .work2 .work-text p,
#works .work1 .work-text p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.8;
  position: relative;
  letter-spacing: 0.1em;
  z-index: 11;
}

#works .work3 .girl,
#works .work2 .girl,
#works .work1 .girl {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: g2;
  width: 320px;
  transform: scale(1.16);
}

#works .work1 {
  margin-top: 96px;
}

#works .work1 h3 {
  font-size: 3.2rem;
}

#works .work1 h3 em {
  font-size: 4.4rem;
}

#works .work2 {
  grid-auto-columns: 320px auto;
}

#works .work2 .work-text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: g2;
}

#works .work2 .girl {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: g1;
}

#works .work2 h3 {
  font-size: 2.8rem;
}

#works .work3 h3 {
  font-size: 3.2rem;
}

#works .work3 h3 em {
  font-size: 4.4rem;
}

@media screen and (max-width: 1200px) {

  #works .work1,
  #works .work2,
  #works .work3 {
    padding: 0 48px;
  }
}

@media screen and (max-width: 960px) {

  #works .work1,
  #works .work2,
  #works .work3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 48px;
  }

  #works .work1 .girl,
  #works .work2 .girl,
  #works .work3 .girl {
    order: -1;
    margin-bottom: 16px;
    transform: scale(1);
  }
}

#salary {
  border-top: 48px solid #ff98c1;
  padding-bottom: 128px;
  background-color: #fbfaf8;
}

.treatments h3,
.guarantee h3 {
  border-top: 16px solid transparent;
  margin-bottom: 32px;
  padding: 20px;
  text-align: center;
}

.treatments h3 img,
.guarantee h3 img {
  height: auto;
  max-height: 64px;
}

@media screen and (max-width: 1200px) {

  .salary-sample,
  .guarantee,
  .treatments {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.salary-sample {
  margin-top: 96px;
  margin-bottom: 32px;
  text-align: center;
}

.salary-sample ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}

.salary-sample li {
  flex-basis: 48%;
  margin-bottom: 16px;
}

.salary-sample li img {
  width: 100%;
}

.salary-sample .worry-about h4 {
  margin-bottom: 16px;
  font-size: 2.4rem;
  font-weight: 600;
  color: #f92a2a;
  line-height: 1.5;
}

.salary-sample .worry-about p {
  color: #7e7e7e;
  font-family: "Noto Serif";
  font-size: 2.4rem;
  line-height: 1.3;
}

.salary-sample .worry-about span {
  color: #f92a2a;
}

.salary-sample .worry-about em {
  font-size: 3.6rem;
  font-weight: 500;
}

@media screen and (max-width: 440px) {
  .salary-sample {
    padding-right: 24px;
    padding-left: 24px;
  }

  .salary-sample li {
    flex-basis: 100%;
  }

  .salary-sample p {
    margin-bottom: 1em;
  }

  .salary-sample p span {
    display: block;
  }
}

.guarantee {
  margin-bottom: 64px;
}

.guarantee h3 {
  border-top-color: #ff6c88;
  background-image: repeating-linear-gradient(135deg, transparent 0, transparent 8px, #ffb1c0 8px, #ffb1c0 14px);
}

.guarantee .value {
  display: grid;
  grid-template-columns: 30% auto;
  grid-column-gap: 10%;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.guarantee .value dt {
  text-align: center;
  padding: 16px;
  background-color: #ffa7e1;
  border-radius: 6px;
  border-bottom: 3px solid #be4193;
  color: #fff;
  font-family: "Noto Serif";
  font-size: 2.8rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.guarantee .value dt em {
  font-size: 4rem;
}

.guarantee .value dd img {
  height: auto;
  max-height: 88px;
}

@media screen and (max-width: 768px) {
  .guarantee .value {
    display: flex;
    flex-direction: column;
  }

  .guarantee .value dt {
    margin-bottom: 8px;
    padding: 8px 16px;
  }

  .guarantee .value dd {
    margin-bottom: 48px;
    padding: 0 20px;
  }
}

.treatments h3 {
  border-top-color: #385f94;
  background-image: repeating-linear-gradient(135deg, transparent 0, transparent 8px, #b1dbff 8px, #b1dbff 14px);
}

.treatments .treatment-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 16px;
  margin-bottom: 64px;
}

.treatments .treatment-list li {
  flex-basis: 50%;
  padding: 1em 0;
  background-color: #e1e1e1;
  color: #757575;
  text-align: center;
}

.treatments .treatment-list li:nth-child(2n):not(:nth-child(4n)),
.treatments .treatment-list li:nth-child(2n+1):not(:nth-child(4n+1)) {
  background-color: #385f94;
  color: #fff;
}

.treatments .pleasures li {
  margin-bottom: 32px;
}

#apply {
  background-color: #ffddeb;
  border-top: 48px solid #ff98c1;
}

/* #apply .link-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  text-align: center;
}

#apply .link-banner a {
  margin-bottom: 24px;
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
  line-height: 1.4;
} */

.form {
  padding-top: 128px;
  padding-bottom: 96px;
  color: #e14684;
  font-family: "Noto Serif";
}

.form-box textarea,
.form-box input {
  flex-basis: 60%;
  margin-right: 10%;
  margin-left: auto;
  padding: 3px 4px;
  border: 1px solid #888;
  color: #666;
  font-family: "Noto Sans";
  font-size: 16px;
}

.form-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 32px;
  line-height: 32px;
}

.form-box .title {
  flex-basis: 20%;
  margin-right: 10%;
  text-align: right;
  cursor: pointer;
}

.form-box input[type=text] {
  height: 32px;
}

.form-box textarea {
  min-height: 240px;
  resize: vertical;
}

.form-box input[type=checkbox] {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #888;
  border: 0 solid transparent;
  transition: 0.3s ease;
  vertical-align: middle;
  margin-right: 4px;
}

.form-box input[type=checkbox]:checked {
  border: 3px solid #fff;
  background-color: #ff8ebd;
}

.form-submit input[type=submit] {
  display: block;
  margin: 0 auto;
  background-color: #ff8ebd;
  color: #fff;
  padding: 10px 8px;
  width: 150px;
}

.form-box .must {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  background-color: #ff8ebd;
  color: #fff;
  text-align: center;
  height: 32px;
  width: 8%;
  line-height: 32px;
}

.form-box .radio {
  flex-basis: 60%;
  margin-right: 10%;
}

.form-box .radio.contact {
  margin-bottom: 16px;
}

.form-box .form-box-radio label {
  cursor: pointer;
}
.form-box-radio{
  display: flex;
}
.form-box-radio-inner{
margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  .form {
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
  }
.form-box{
  justify-content: space-between;
}
  .form-box .title {
    flex-basis: 10%;
    margin-right: 5%;
  }

  .form-box input,
  .form-box textarea {
    flex-basis: 60%;
  }

  .form-box .form-box-radio {
    flex-basis: 70%;
    flex-wrap: wrap;
  }
}
.form-box-radio-inner{
  margin-right: calc(10vw / (1200 / 100));
  }
  

@media screen and (max-width: 768px) {
 .form-box  {
    flex-direction: column;
    
  }

 .form-box .title {
    flex-basis: 100%;
    margin-right: 0;
    text-align: left;
  }

.form-box input,
.form-box textarea {
    flex-basis: 80%;
    margin-right: 0;
    margin-left: 0;
  }

 .form-box .must {
    bottom: 44px;
    padding: 0 8px;
    width: auto;
    height: 24px;
    line-height: 24px;
    font-size: 1.4rem;
  }
}

.footer {
  background-color: #fff;
  padding: 48px 0;
  font-family: "Rounded M";
  color: #7b7b7b;
}

.footer .footer-flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer .footer-logo {
  flex-basis: 40%;
  margin-right: 4%;
}

.footer .footer-link {
  flex-basis: 30%;
  margin-bottom: 16px;
}

.footer .footer-link a {
  display: block;
  font-size: 2.4rem;
  line-height: 1.5;
}

.footer .footer-banner {
  margin: 48px auto;
  width: 512px;
  background-color: #e58282;
  color: #fff;
}

.footer .footer-banner img {
  width: 100%;
  height: auto;
}

.footer .copyright {
  display: block;
  text-align: center;
}

.f-nav {
  background-color: #79dcd6;
}

.f-nav ul {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 16px 0;
}

.f-nav li:not(:last-child) {
  border-right: 1px solid #65cdc7;
  margin-right: 1em;
  padding-right: 1em;
}

.b-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #79dcd6;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.3s ease;
}

.b-nav .wrapper {
  max-width: 960px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.b-nav li {
  flex-basis: 50%;
}

.b-nav a {
  display: block;
  padding: 8px;
  text-align: center;
}

.b-nav img {
  display: block;
  margin: 0 auto 8px;
  height: 48px;
  width: auto;
}

@media screen and (max-width: 1200px) {
  .footer {
    padding-left: 48px;
    padding-right: 48px;
  }

  .footer .footer-flex {
    flex-direction: column;
    align-items: center;
  }

  .footer .footer-logo {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .footer .footer-banner {
    width: 88%;
  }
}

@media screen and (max-width: 768px) {
  .f-nav {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  .b-nav {
    transform: translateY(0);
    opacity: 1;
  }
}

.link-banner {
  width: 1000px;
  margin: 0px auto;
  padding: 0 0 50px;
  text-align: left;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .link-banner {
    width: 80%;
    margin: 0px auto;
    padding: 0 0 50px;
    text-align: left;
  }
}

@media screen and (max-width: 440px) {
  .link-banner {
    width: 100%;
    margin: 0px auto;
    padding: 10px 10px 50px;
    text-align: left;
  }
}
.text02 {
  display: none;
}

/********************************************
* Now Loading
********************************************/
#form-load {
  display: none;
}

.loader {
  margin: 0 auto;
  border: 12px solid #fafafa;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load1 {
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
          animation: sk-scaleout 1s infinite ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 201;
  text-align: center;
  background-color: #b1b1b1;
  color: #ffffff;
  opacity: 0.8;
  width: 800px;
}

.load1 p {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}